/macos-config
configstore
containers
copyq
flipperdevices.com
flutter
gh
github-copilot
htop
jgit
mise
neofetch
raycast
spicetify
thefuck
wireshark
.DS_Store
scripts/install_tools_tui/target
citra-emu/
